<div class="container">
  <div class="pokemon-item" *ngFor="let pokemon of pokemons">
    <div>
      <p class="pokemon-label" style="color: white">
        {{ pokemon.id }}
        {{ getSinglePokemon(pokemon.name) }}
      </p>
      <img [src]="pokemon.image" [alt]="pokemon.name" class="pokedex-image" />
    </div>

    <div class="btn-container">
      <button
        class="catch-pokemon btn btn-primary"
        (click)="onCatch(getSinglePokemon(pokemon.name))"
      >
        Catch
      </button>
      <button class="show-info btn btn-primary" (click)="onShowInfo()">
        Show info
      </button>
    </div>
  </div>
</div>
