ol {
    display: inline;
    list-style-position: inside;
    color: white;
    list-style: none;
}

li {
    min-width: 14em;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.pokemon-item {
    flex: 1 0 20%;
    display: flex;
    padding-bottom: 1em;
    padding-left: 1em;
    border: 1px solid white;
}

.pokemon-label {
    padding-top: 1em;
    color: white;
}

.catch-pokemon {
    margin: auto;
    bottom: 1em;
    width: 4em;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 1em;
}