.header {
    margin-top: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
    text-align: center;
    background-color: #a83834;
    border-radius: 2em;
    border: 2px solid rgb(0, 117, 212);
    color: white;
}

.form-container {
    width: 30vw;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1em;
}

.header {
    margin-top: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
    text-align: center;
    background-color: #a83834;
    border-radius: 2em;
    border: 2px solid rgb(0, 117, 212);
    color: white;
}

.logo-pokemon {
    min-width: 40em;
}

.container {
    padding-bottom: 2em;
}