<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <div routerLink="">
      <img
        src="../assets/images/logo_pokemon.svg"
        alt="Pokemon_Logo_NavBar"
        class="nav-logo-pokemon"
      />
    </div>
    <!-- If logged is is TRUE show links to pages -->
    <div *ngIf="user">
      <a class="navbar-brand" routerLink="/pokedex">Pokedex</a>
      <a class="navbar-brand" routerLink="/trainer">Trainer</a>
      <a class="navbar-brand" routerLink="" (click)="Logout()">Logout</a>
    </div>
  </div>
</nav>
