<div class="container">
  <h2 *ngIf="user" style="color: white; margin: auto; left: 50%">
    Pokemon Trainer: {{ user.username }}
  </h2>
  <app-trainer [trainerPokemons]="trainerPokemons"></app-trainer>
  <!-- <button class="btn btn-primary" (click)="logger()">Log</button> -->
</div>
