<div class="container">
  <h4 style="color: white">Collected pokemons</h4>
  <ul class="no-bullets">
    <li *ngFor="let pokemons of trainerPokemons">
      {{ pokemons.id }}. {{ pokemons.name }}
      <img [src]="pokemons.image" [alt]="pokemons.name" />
      <button class="btn btn-primary" (click)="removePokemon(pokemons)">
        Release
      </button>
    </li>
  </ul>
</div>
