ul {
    list-style-position: inside;
    gap: 0;
    color: white;
    padding-left: 0;
}

li {
    padding-left: 0.8em;
    min-width: 13em;
    float: left;
}

.no-bullets {
    list-style-type: none;
}