.img-container {
    background-image: url('../assets/images/bg_pokemon.jpg');
    // background-repeat: repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    opacity: 0.2;
    z-index: -100;
}

.content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
}