<div class="container">
  <div class="container">
    <img
      src="../assets/images/logo_pokemon.svg"
      alt="Pokemon_Logo"
      class="logo-pokemon"
    />
  </div>
  <div class="card">
    <h1 class="header">Login to catch some Pokemons...</h1>
    <div class="form-container">
      <form #startForm="ngForm" (ngSubmit)="onStartSubmit(startForm)">
        <fieldset class="mb-3">
          <label for="username"></label>
          <input
            id="username"
            name="username"
            ngModel
            #username="ngModel"
            type="text"
            class="form-control"
            placeholder="Enter username"
            minlength="3"
            required
          />
        </fieldset>
        <div
          *ngIf="username.errors && (username.dirty || username.touched)"
          class="alert alert-danger"
        >
          <span *ngIf="username.errors['required']"
            >This field is required</span
          >
          <span *ngIf="username.errors['minlength']">Minimum length is: 3</span>
        </div>

        <div class="btn-container">
          <button
            type="submit"
            [disabled]="startForm.invalid"
            class="btn btn-primary btn-lg"
          >
            Let's go
          </button>
          <button [routerLink]="'/register'" class="btn btn-warning btn-lg">
            Register
          </button>
        </div>
      </form>
      <div class="alert alert-danger" *ngIf="error !== ''">
        <p>{{ error }}</p>
      </div>
    </div>
  </div>

  <!-- <router-outlet></router-outlet> -->
</div>
