<div class="container">
  <div class="container">
    <img
      src="../assets/images/logo_pokemon.svg"
      alt="Pokemon_Logo"
      class="logo-pokemon"
    />
  </div>
  <!-- <app-login></app-login> -->
  <router-outlet></router-outlet>
</div>
