.container {
    margin-top: 2em;
    background-color: #a83834;
    height: auto;
    border-radius: 2em;
    border: 2px solid white;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
}