<div class="container">
  <div class="container-fluid">
    <h2 style="color: white">Pokedex</h2>
    <div class="btn-container">
      <button class="btn btn-secondary" (click)="onPrevious()">Previous</button>
      <button
        class="btn btn-primary"
        style="margin-left: 0.5em"
        (click)="onNext()"
      >
        Next
      </button>
    </div>
  </div>
  <app-pokedex [pokemons]="pokemons"></app-pokedex>
</div>
